{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- List Movie -->
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Watch Later List </h2>
    </div>
    <div class="panel-body">
        <div class="table table-responsive">
            <table class="table table-hover" id="myTable" style="width: none;">
                <thead>
                <th> Judul</th>
                <th> Tahun</th>
                <th style="text-align: center"> Poster</th>
                <th style="text-align: center"> Detail</th>
                </thead>
                <tbody>
                    {% for movie in watch_later_movies %}
                    <tr>
                        <td>{{movie.title}}</td>
                        <td>{{movie.year}}</td>
                        <td>
                            {% if movie.poster|stringformat:"s" == "b'N/A'" %}
                            <img style="display:block;"  src="https://www.classicposters.com/images/nopicture.gif"/>
                            {% else %}
                            <img style="margin: 0px auto;display:block;width:20%" src="{{movie.poster}}"/>
                            {% endif %}
                        </td>
                        <td style="text-align: center"> <a href='/lab-10/movie/detail/{{movie.imdbid}}' class='btn btn-primary'>Detail</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}