{% extends "lab_4/layout/base.html" %}

{% block content %}
<body background="/static/Shelter aurora.jpg" >
<h1>Portofolio</h1>
<hr/>
<center>
<img class="img-circle" src="/static/Chino shy icon.png" width="240px">
<p>This is not me, obviously. You're looking at my child (not my actual child), Chino Kafuu</p>
</center>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
	<h2>List</h2>
	<ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
	</ul>
</section>
<hr/>
<section name="form">
        <h2>Send Message</h2>
		<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
<body>
{% endblock %}
