<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body> 
<center>
    <h1>Hello my name is {{ name }}</h1>
	<article>I am {{ age }} years old</article>
	<img src="http://s3.narvii.com/image/6jysws6stbmlfifeezyv75ne72tz4so4_hq.jpg" style="width:960px;height:540px;">
</center>
</body>
</html>
