{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Pacilfriends</h2>
                    <div id="friend-list" class="list-group">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script>
     var delFriend = function(id) {
        $.ajax({
            method: "POST",
            url: '{% url "lab-7:delete-friend" %}',
            data: {id: id},
            success : function (friend) {
                $("#friend"+id).remove();
            },
            error : function (error) {
                alert("eRROR")
            }
        });
    };
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:all-friends" %}',
                success: function (response) {
                console.log(response);

                a = response.json;


                for (i in a) {
                    html = '<a class="list-group-item clearfix" id=friend'+a[i].id+' >' +a[i].friend_name+" ("+a[i].npm+')' +'<span class="glyphicon glyphicon-remove" onclick=delFriend('+a[i].id+') style="color: red;position: absolute;top: 8px;right: 16px;"></span>'+'</a>';
                $("#friend-list").append(html)
                }
                
                    
                },
                error: function(error){
                    //#tampilkan pesan error
                    alert("Data kosong");
                }
            });

            $('#friend_list').on('click', '.list-group-item .glyphicon', function() {
                $(this).closest('.list-group-item').remove();
                $.ajax({
                method: "GET",
                url: $(this).data('url'),
                success: function (response) {
                },
                error: function(error){
                    //#tampilkan pesan error
                    alert("Data kosong");
                }
            });
            });


        });
    </script>

{% endblock %}
